.Cmp1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15rem 0 15rem;
  padding-top: 8.2rem;
}
.content1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70rem;
  grid-gap: 1.5rem;
}
.content2 {
  width: 47rem;
  height: 70rem;
}
.content1 h2 {
  font-size: 6rem;
  font-weight: 700;
}
.content2 img {
  border-radius: 3.5rem;
}
.Cmp2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15rem 0 15rem;
  padding-top: 25rem;
}
.Cmp3 {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-gap: 10rem;
  padding: 0 15rem 0 10rem;
  padding-top: 25rem;
}
.content3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70rem;
  grid-gap: 1.5rem;
}
.content4 {
  width: 47rem;
  height: 70rem;
}
.content3 h2 {
  font-size: 4rem;
  font-weight: 400;
}
.content3 p {
  font-size: 2rem;
  font-weight: 400;
}
.content4 img {
  border-radius: 3.5rem;
  width: 48rem;
  height: 70rem;
}
.content5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70rem;
  grid-gap: 1.5rem;
}
.content5 h2 {
  font-size: 4rem;
  font-weight: 400;
}
.content5 div p {
  font-size: 2rem;
  font-weight: 400;
  color: #3b90fb;
}
.content5 p {
  font-size: 2rem;
  font-weight: 400;
}
.content6 {
  display: flex;
  grid-gap: 3rem;
}
.content6 img {
  border-radius: 3.5rem;
  width: 48rem;
  height: 70rem;
}
